<html>
<head>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
    $(document).ready(function(){
        var ctx = document.getElementById('myChart').getContext('2d');
        var url = '/records_ascea/';
        //console.log("date");
        $.getJSON( url, function( data ) {
            var date = [];
            var temperatura = [];
            var peso = [];
            var umidita = [];
            //console.log(data);
            $.each( data, function( key, val ) {
                date.push(val.timereg);
                temperatura.push(val.temperatura);
                peso.push(val.peso);
                umidita.push(val.umidita);
            });
            var chart = new Chart(ctx, {
            type: 'line',
            data: {
            labels: date,
            datasets: [{
                label: 'temperatura',
                //backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: temperatura,
                },
                {
                label: 'peso',
                //backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 255, 0)',
                data: peso,
                },
                {
                label: 'umidita',
                //backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(0, 255, 0)',
                data: umidita,
                },
            ]
            },
            options: {}
            });
        });
    });
    
    </script>
    <canvas id="myChart"></canvas>
</body>
</html>